:root {
  --bg: #ffff;
  --headline-color: #0C1821;
  --sub-headline-color: #324a5f;
  --reading-text-color: #3b342b;
  --hover-link-bg: #f3f6f5;
  --header-font: "lora";
  --read-font: "lato";
}


html {

  font-family: var(--read-font), sans-serif;

}

body {
	margin: 60px auto;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 500px;
	background-color: var(--bg);
}

h1 {
	font-size: 1.3rem;
	font-family: var(--header-font), sans-serif;
	font-weight: 500;
	margin: 0rem 0;
        color: var(--headline-color);
}

h2 {
	font-family: var(--read-font), sans-serif;
	font-size: 1rem;
	font-weight: 400;
	margin: 0rem 0;
	color: var(--headline-color);
}

h3 {
	font-family: var(--read-font), sans-serif;
	font-size: 1.0rem;
	font-weight: 400;
	margin: 0rem 0;
	color: var(--sub-headline-color);
}

h4{
	font-size: 0.8rem;
	font-weight: 300;
	font-style: italic;
	margin: 0rem 0;
	color: var(--sub-headline-color);
}

h5 {
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0rem 0;
	color: #686969;
}

hr {
	margin-bottom: 0.3em;
	height:1px;
	border:0;
	background-color: #dbdbdb;

}

p {
	margin-top: 0;
	padding-top: 0.7rem;
	font-size: 1rem;
	line-height: 1.65;
	color: var(--reading-text-color);
}

a:link {
        color: var(--headline-color);
	text-decoration: none;
}

a:visited {
        color: var(--headline-color);
	text-decoration: none;
}


.link-div {
	border-radius:4px;
}


.link-div:hover {

	background-color: var(--hover-link-bg);
}

.SubscriptionForm {
	display: flex;
	max-width: 500px;
	width: 100%;
	border-radius:4px;
}

form {
	width: 100%;
	display: flex;
}


input[type=email] {
	width: 100%;
	font-size: 1rem;
	border: none;
	border-bottom: 1px solid var(--sub-headline-color);
	font-family: var(--read-font), sans-serif;
	border-radius: 0px;
	min-height: 30px;
}

button[type=submit] {
	background-color: var(--sub-headline-color);
	border: none;
	border-radius: 3px;
	color: white;
	font-size: 1rem;
	font-family: var(--read-font), sans-serif;
}
