:root {
  --bg: #ffff;
  --headline-color: #0C1821;
  --secondary-headline-color: #162B3C;
  --sub-headline-color: #324a5f;
  --third-headline-color: #39393A;
  --reading-text-color: #39393A;
  --hover-link-bg: #f3f6f5;
}


html {

  font-family: sans-serif;

}

body {
	margin: 60px auto;
	padding-left: 25px;
	padding-right: 25px;
	max-width: 600px;
	background-color: var(--bg);
}

h1 {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0rem 0;
        color: var(--headline-color);
}

h2 {
	font-size: 1rem;
	font-weight: 500;
	margin: 0rem 0;
	color: var(--secondary-headline-color);
}

h3 {
	font-size: 1rem;
	font-weight: 400;
	margin: 0rem 0;
	color: var(--sub-headline-color);
}

h4{
	font-size: 0.8rem;
	font-weight: 400;
	font-style: italic;
	margin: 0rem 0;
	color: var(--secondary-headline-color);
}

p {
	margin-top: 0;
	padding-top: 0.7rem;
	font-size: 1rem;
	color: var(--reading-text-color);
}

a:link {
        color: var(--secondary-headline-color);
	text-decoration: none;
}

a:visited {
        color: var(--secondary-headline-color);
	text-decoration: none;
}


.link-div {
	border-radius:4px;
}


.link-div:hover {

	background-color: var(--hover-link-bg);
}
