<div class='SubscriptionForm'>
	<form action="https://formsubmit.co/universalconstructor@proton.me" method="POST">
	<input type="email" id="email" name="email" placeholder="your@email.com" required>
	<input type="hidden" name="_next" value="https://chralb.com/thanks">
	<input type="hidden" name="_captcha" value="false">
	<button type="submit">Subscribe</button>
	</form>
</div>
