---
import '../styles/global.css';
import BaseLayout from './BaseLayout.astro';
const {frontmatter} = Astro.props;
import SubscriptionForm from '../components/SubscriptionForm.astro'
---
<BaseLayout pageTitle={frontmatter.title}>
	<h2 style="padding-bottom:0.2em"> {frontmatter.title} </h1>
	<h3 style="padding-bottom: 1.6em">{frontmatter.summary}</h1>

   <slot/>
   <hr />
   <SubscriptionForm/>

</BaseLayout>
